{
  "extends": ["react-app"],
  "env": {
    "browser": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "quotes": ["error", "single", { "allowTemplateLiterals": true }],
    "jsx-quotes": ["error", "prefer-single"],
    "react/jsx-no-target-blank": "off",
    "no-console": "error",
    "jsx-a11y/anchor-is-valid": "off",
    "jsx-a11y/img-redundant-alt": "off"
  }
}
