/*font-family: 'Poppins', sans-serif;*/
/*font-family: 'Josefin Sans', sans-serif;*/

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: Poppins, sans-serif;
    color: #fff;
    font-weight: 400;
    font-stretch: normal;
    font-size: 14px;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
    text-decoration: none;
    color: #fff;
}

h1 {
    font-weight: 700;
    font-stretch: normal;
    font-size: 45px;
    line-height: 1.2;
    font-family: "Josefin Sans", sans-serif;
    letter-spacing: 5px;
}

h2 {
    font-weight: 300;
    font-stretch: normal;
    font-size: 36px;
    line-height: 1.2;
    font-family: "Josefin Sans", sans-serif;
    letter-spacing: 5px;
    text-transform: capitalize;
}

input,
button,
textarea {
    border-radius: 3px;
    outline: 0;
    border: 0;
}

.container {
    width: 100%;
    max-width: 1170px;
    padding: 10px 0;
    margin: 0 auto;
}

.block {
    min-height: 100vh;
    width: 100%;
}

.block-title {
    width: 100%;

    text-align: center;
    font-size: 36px;
    font-weight: 700;

    margin-bottom: 40px;
    padding-top: 60px;
}


.btn {
    width: 100px;
    height: 36px;

    background-color: #484a49;
    border-radius: 3px;

    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 36px;
    vertical-align: center;
}

.btn:hover {
    cursor: pointer;
    opacity: .8;
}

/* --- Header --- */

.header {
    height: 60px;
    width: 100%;
    padding-top: 12px;

    background-color: #262827;
}

.header__inner {
    display: flex;
    justify-content: flex-end;
}

.header__link {
    display: inline-block;
    margin: 0 15px;
}

.header__link:hover {
    opacity: .8;
}

/* --- Intro --- */

.intro {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    min-height: calc(100vh - 60px);

    background-color: #484a49;
}

.intro__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    height: 400px;
    width: 100%;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: 630px;
    padding-left: 10px;

    text-align: left;
}

.introduce {
    font-size: 30px;
}

.name {
    display: inline-block;
    position: relative;
    z-index: 1;
}

.name:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 5px;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 10px;
    background-color: coral;

    transition: all .2s ease;
}

.name:hover.name:after {
    height: 40px;
    width: 105%;
    transform: translateX(-2.5%);
}

.photo {
    height: 400px;
    width: 300px;
    position: relative;
    z-index: 1;
}

.photo img {
    display: block;
    height: 100%;
    width: 100%;

    padding: 0;
    margin: 0;
}

.photo:after {
    content: '';
    display: block;
    width: 100%;
    height: 105%;

    position: absolute;
    top: -14.5px;
    left: 20px;
    z-index: -1;

    border: 5px solid coral;
}

/* --- Skills --- */

.skills {
    background-color: #393939;
    padding-top: 60px;
}

.skills__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.skills__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    min-width: 28%;
    height: 400px;
    padding: 0 5px 10px;
    margin: 0 10px 18px;

    background-color: #222;

    text-align: center;
}

.skills__icon {
    width: 150px;
    height: 150px;

    padding-top: 10px;
}

.skills__icon img {
    width: 100%;
    height: 100%;
}

.skills__title {
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 700;
}

/* --- Works --- */

.works {
    background-color: #4f4f4f;
}

.works__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.works__item {
    width: 40%;
    height: 400px;
    margin-bottom: 36px;

    background-color: #393939;
}

.work__image {
    position: relative;
    height: 250px;
    background-color: azure;
}

.work__screen {
    width: 100%;
    height: 100%;
    transition: all .3s ease;
}

.work__image:hover .btn--work {
    opacity: 1;
}

.work__image:hover .work__screen {
    opacity: .5;
}

.btn--work {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    z-index: 10;
    opacity: 0;
    transition: all .3s ease;
}

.btn--work:hover {
    background-color: #2f3130
}

.work__title,
.work__description {
    padding: 3px 5px;
}

.work__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    font-family: 'Josefin Sans', sans-serif;
}

/* --- Info --- */

.info {
    min-height: 150px;
    background-color: #393939;
}

.info__inner {
    display: flex;
    flex-direction: column;
    align-items: center;

    max-width: 63%;
    margin: 0 auto;
    padding: 5px 10px 10px;
}

.block-title--info {
    width: 100%;
    font-size: 1rem;
}

.btn--info {
    border: 1px solid #999;
}

/* --- Contacts --- */

.contacts {
    min-height: calc(100vh - 150px);
    background-color: #4f4f4f;
}

.contacts__form {
    width: 45%;
    margin: 0 auto;
}

.contacts__form form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form__input {
    display: inline-block;
    width: 100%;
    height: 30px;

    margin-bottom: 10px;
    padding: 3px 7px;
    background-color: #ccc;
}

.form__input::placeholder {
    opacity: .7;
    font-style: italic;
}

.contacts__textarea {
    height: 90px;
    resize: none;
}

@keyframes focus {
    from {
        border: 3px solid rgb(255, 127, 80)
    }
    25% {
        border: 3px solid rgba(255, 127, 80, .5)
    }
    50% {
        border: 3px solid rgb(255, 127, 80)
    }
    75% {
        border: 3px solid rgba(255, 127, 80, .5)
    }
    to {
        border: 3px solid rgb(255, 127, 80)
    }
}

.form__input:focus {
    animation: focus 1.5s infinite linear;
}

.btn--from {
    font-size: 21px;
    font-weight: 600;
    color: #fff;
    position: relative;
    background-color: transparent;
    z-index: 1;
}

.btn--from:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 5px;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 10px;
    background-color: #ff7f50;

    transition: all .2s ease;
}

.btn--from:hover {
    opacity: 1;
}

.btn--from:hover.btn--from:after {
    height: 25px;
    width: 105%;
    transform: translateX(-2.5%);
}

/* --- Footer --- */

.footer {
    min-height: 150px;
    padding-top: 30px;
    background-color: #262827;
}

.footer__inner {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.social__menu {
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 12px auto;
}

.menu__item {
    display: block;
    width: 45px;
    height: 45px;
}

.menu__item:first-child {
    width: 40px;
    height: 40px;
}

.menu__item img {
    width: 100%;
    height: 100%;
}

.menu__item:hover {
    opacity: .8;
}

.author {
    font-size: 21px;
    font-weight: 600;
}

/* --- Media --- */

@media screen and (max-width: 1100px) {
   .photo {
       margin-right: 90px;
   }
}

@media screen and (max-width: 1050px) {
    .intro {
        align-items: flex-start;
    }
    .intro__inner {
        margin-top: 120px;
    }
}

@media screen and (max-width: 900px) {
    .works__inner {
        flex-direction: column;
        align-items: center;
    }
    .works__item {
        width: 50%;
        min-width: 300px;
    }
}

@media screen and (max-width: 880px) {
    .contacts__form {
        width: 80%;
    }
    .info__inner {
        max-width: 100%;
    }
}

@media screen and (max-width: 550px) {
    .photo {
        width: 250px;
        height: 333.33px;

        margin-right: 30px;
    }
}

@media screen and (max-height: 570px) {
    .photo {
        display: none;
    }
}




